#body { height: 1fr; }
#sidebar { width: 40; border-right: solid; padding: 1 1; }
ProjectItem { height: auto; padding: 1 0; width: 100%; }
.side-title { text-align: center; padding: 1; }
#refresh { width: 100%; }
#results { padding: 1 2; }
#msg { color: $warning; padding: 0 2; }
.project-bar { width: 100%; height: auto; padding: 1 0; }
.section-bar { width: 100%; height: auto; }
.actions { height: auto; margin: 1 2; }
.actions Button { margin-right: 2; }
